<html>
<head>
	<link rel="stylesheet" href="/css/results.css"/>
	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
	<link href='http://fonts.googleapis.com/css?family=Lato|Arvo:400,700' rel='stylesheet' type='text/css'>
</head>
<body class="main">
	<h1>SkinDoc</h1>
<h3>Upload the Skin Image of Interest</h3>
<form action="." method=post enctype=multipart/form-data class="pure-form">
      <input type="file" name="file">
      <input type="submit" class="pure-button" value="Upload">
</form>

</body>
</html>
